<nav class="navbar navbar-default navbar-fixed white bootsnav on no-full">
    <div class="container">
        <!-- Start Atribute Navigation -->
        <div class="attr-nav">
            <ul>
                {% if c.userobj %}
                {% set new_activities = h.new_activities() %}
                {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                <li class="dropdown">
                    <a href="{{ h.url_for(controller='user', action='dashboard') }}"
                    class="dropdown-toggle" data-toggle="dropdown" title="{{ notifications_tooltip }}" >
                        <i class="fa fa-bell"></i>
                        <span class="badge">{{ new_activities }}</span>
                    </a>
                </li>
                {% endif %}
                <!--<li class="search"><a href="#"><i class="fa fa-search"></i></a></li>-->
                <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
            </ul>
        </div>
        <!-- End Atribute Navigation -->

        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            {% block header_logo %}
              {% if g.site_logo %}
                <a class="navbar-brand" href="{{ h.url_for('home') }}">
                    <img src="/assets/images/logo.png" class="logo logo-display m-top-10" alt="">
                    <img src="/assets/images/logo.jpg" class="logo logo-scrolled" alt="">
                </a>
              {% else %}
              <h1>
                <a href="{{ h.url_for('home') }}">{{ g.site_title }}</a>
              </h1>
              {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
            {% endif %}
          {% endblock %}
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li><a href="/">Home</a></li>
                <li><a href="/dataset">Datasets</a></li>
                <li><a href="/organization">Organizations</a></li>
                <li><a href="/groups">Groups</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>


    <!-- Start Side Menu -->
    <div class="side">
        <a href="#" class="close-side"><i class="fa fa-times"></i></a>
        <div class="widget">
            <h6 class="title">Menu</h6>
            <ul class="link">
              <li><a href="/"><span class="text">Home</span></a></li>
              <li><a href="/dataset"><span class="text">Datasets</span></a></li>
              <li><a href="/organization"><span class="text">Organizations</span></a></li>
              <li><a href="/groups"><span class="text">Groups</span></a></li>
              <li><a href="#about"><span class="text">About</span></a></li>
              <li><a href="#contact"><span class="text">Contact</span></a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">Account</h6>
            {% block header_account_container_content %}
              {% if c.userobj %}
                <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
                  <ul class="unstyled">
                    {% block header_account_logged %}
                    {% if c.userobj.sysadmin %}
                      <li>
                        <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                          <span class="text">{{ _('Sysadmin Settings') }}</span>
                        </a>
                      </li>
                    {% endif %}
                    <li>
                      <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" title="{{ _('View profile') }}">
                        <span class="username">{{  _('View profile') }}</span>
                      </a>
                    </li>
                    {% set new_activities = h.new_activities() %}
                    <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                      {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                      <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                        <span class="text">{{ _('Dashboard') }}</span>
                        <span class="badge">{{ new_activities }}</span>
                      </a>
                    </li>
                    {% block header_account_settings_link %}
                      <li>
                        <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                          <span class="text">{{ _('Edit Profile') }}</span>
                        </a>
                      </li>
                    {% endblock %}
                    {% block header_account_log_out_link %}
                      <li>
                        <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                          <i class="fa fa-sign-out" aria-hidden="true"></i>
                          <span class="text">{{ _('Log out') }}</span>
                        </a>
                      </li>
                    {% endblock %}
                    {% endblock %}
                  </ul>
                </div>
              {% else %}
                <nav class="account not-authed">
                  <ul class="unstyled">
                    {% block header_account_notlogged %}
                    <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
                    {% if h.check_access('user_create') %}
                      <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
                    {% endif %}
                    {% endblock %}
                  </ul>
                </nav>
              {% endif %}
            {% endblock %}
        </div>
    </div>
    <!-- End Side Menu -->

</nav>
