select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
 input[type="datetime-local"], input[type="date"], input[type="month"],
 input[type="time"], input[type="week"], input[type="number"],
  input[type="email"], input[type="url"], input[type="search"],
   input[type="tel"], input[type="color"],
.uneditable-input {
    height: 35px;
}

.input-append .add-on, .input-prepend .add-on {
  height: 35px;
}

.in{
  margin-left: 5px;
}

.flash-messages{
  margin-top: 35px;
}

.btn-primary {
  padding: 0.8rem;
}

.dataset-map-expanded .wrapper {
  margin-top: 0px;
  }

.dataset-map-expanded #dataset-map {
  top: auto;
}
